@media (max-width: 640px) {
  .section:first-of-type {
    min-height: 0;
  }

  section:first-of-type .hero-inner {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  section:first-of-type .hero-inner .split-item {
    padding: 0;
  }

  section:nth-of-type(2) {
    margin-top: 2rem;
  }

  section:nth-of-type(2) .section-inner {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  section:nth-of-type(2) .section-inner .cta-slogan {
    margin-bottom: 1rem;
  }
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}